.review-write-code-block {
    width: 100% !important;
}

.review-write-code-block .code-name-input {
    border-bottom: 1px solid #adadad !important;
    margin-bottom: 8px;
    margin-left: 8px;
    font-size: 16px;
    width: 250px;
    display: flex;
    margin-bottom: 10px;
}

.review-write-code-block pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    border: 1px solid #ccc;
}

.review-write-code-block .code-name-input label {
    font-size: 16px !important;
    margin: 0 !important;
}

.review-write-code-block .code-name-input input {
    background-color: transparent !important;
    border: transparent !important;
    width: 100% !important;
}

.review-write-code-block .code-name-input input:focus {
    outline: none;
}

.review-write-code-block:not(.readonly) .code-name-input:focus-within {
    border-color: #0065d1 !important;
}

.review-write-code-block pre {
    background-color: #ffffff;
}
