#solve-view-wrapper {
    width: 100%;
    height: 100%;
}

.split-view ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.split-view ::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 6px;
}

.split-view ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
    border: 0px solid transparent;
    background-clip: content-box;
}

.split-view ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.resizer:hover,
.resizer:active {
    background-color: #4d92cb !important;
}
