.code-modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    pointer-events: none;
}

.code-modal-null {
    background: snow;
    padding: 1px;
    margin: 10px;
    pointer-events: auto;
    width: 214px;
}
