.review-write-comment-block {
    width: 100%;
}

.review-write-comment-block textarea {
    width: 100%;
    resize: none;
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.5;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.review-write-comment-block__header {
    display: flex;
    font-size: 16px !important;
    margin-left: 8px;
    gap: 4px;
    align-items: center;
    margin-bottom: 7px;
}

.review-write-comment-block__header * {
    margin: 0;
    padding: 0;
}
