.modal-backdrop {
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 10px;
    width: 1200px;
    max-width: 100%;
    margin: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    opacity: 1;
}

.modal-header {
    display: flex;
    justify-content: space-between;
}

.modal-header h5 {
    margin: 1;
}

.modal-header-buttons {
    width: 5%;
    display: flex;
    justify-content: space-between;
}

.modal-body {
    padding: 10px;
    overflow-y: auto;
}

.modal-body textarea {
    background-color: #e9f5fe;
    border: none;
    margin-top: 3px;
    width: 100%;
    resize: none;
}

.modal-body pre {
    padding: 0%;
}

.modal-body h6 {
    margin: 5px;
}

.modal-footer {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.modal-footer button {
    margin-left: 10px;
}

.info {
    border: none;
    background: transparent;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    color: #ccc;
    transition: color 0.3s;
}

.info:hover {
    color: #888;
}

.close {
    justify-content: flex-end;
}

.codediff-container {
    max-height: 500px;
    overflow-y: auto;
    margin-bottom: 50px;
}

.code-block {
    position: relative;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

.code-block-button {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
}

.code-block-button button + button {
    margin-left: 5px;
}

.code-name {
    border: none;
}
.loader-modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.loader-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #0076c0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.upload-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.upload-modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.code-name {
    width: 80px;
    min-width: 80px;
    max-width: fit-content;
}
