body {
    margin: 50px 100px;
}

.setting_tittle {
    display: flex;
}

.logo_img {
    width: 100px;
    height: 60px;
    margin-left: 10px;
    margin-top: 10px;
}

.title {
    font-size: 20px;
    margin: 40px 0 0 10px;
}

.setting {
    margin: 0 auto;
}

.setting_category {
    display: flex;
    margin: 20px 0 0 20px;
    gap: 10px;
}

#github-button {
    height: 30px;
    width: 80px;
    border: none;
    border-radius: 2px;
    background-color: #0076c0;
    color: white;
    cursor: pointer;
}

#local-button {
    height: 30px;
    width: 80px;
    border: none;
    border-radius: 2px;
    background-color: lightgray;
    color: gray;
    cursor: pointer;
}

.setting_box {
    border: 3px solid #0076c0;
    border-radius: 10px;
    height: 500px;
    width: 90%;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.github_title {
    font-size: 12px;
    color: gray;
    font-weight: bold;
    margin: 5px 10px;
}

#github-auth {
    width: 200px;
    cursor: pointer;
}

#error {
    margin: 30px 0 0 30px;
    font-size: 14px;
    color: red;
}

#auth-success {
    margin: 25px 30px;
    font-size: 16px;
    font-weight: bold;
    color: blue;
}

.repo_name {
    margin-top: 10px;
}

.repo_setting {
    display: flex;
    justify-content: space-between;
    gap: 70px;
    margin-right: 40px;
}

.set_toggle {
    width: 100%;
}

.field select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid;
    border-radius: 10px;
    color: #333;
    width: 100%;
    transition: border-color 0.3s ease;
}

.field select:focus {
    outline: none;
    border-color: #66afe9;
}

#repo_long {
    margin-right: 60px;
    height: 40px;
}

#masking_check{
    display: flex;
    color: #098409;
    justify-content: end;
    margin: 10px 50px;
}

.field input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid;
    border-radius: 10px;
    color: #333;
    width: 100%;
    margin-bottom: 40px;
}

#github_submit {
    display: flex;
    justify-content: end;
    margin-right: 45px;
}

#github_warning {
    font-size: 14px;
    color: red;
    margin: 8px 10px 0 0;
}

#success {
    margin: 8px 10px 0 0;
    font-size: 14px;
}

#github-link-button {
    border-radius: 10px;
    width: 120px;
    height: 32px;
    font-size: 14px;
    background-color: #0076c0;
    color: white;
    border: none;
    cursor: pointer;
}

.local_path {
    font-size: 12px;
    color: gray;
    font-weight: bold;
    margin: 5px 10px;
}

.local-path-save {
    display: flex;
    justify-content: end;
    margin-right: 40px;
}

#local-name-save {
    border-radius: 10px;
    width: 120px;
    height: 32px;
    font-size: 14px;
    background-color: #0076c0;
    color: white;
    border: none;
    cursor: pointer;
}
