textarea.algoplus-auto-resizable {
    width: 100%;
    resize: none;
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.5;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 4px;
}
