.algoplus-pop-up {
    width: 250px;
    min-height: 180px;
    background: #fcfcfc;
    color: #2e2e2e;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 20px !important;
    -webkit-box-shadow: 8px 7px 24px -13px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 7px 24px -13px rgba(66, 68, 90, 1);
    box-shadow: 8px 7px 24px -13px rgba(66, 68, 90, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
