.boj-modal-background {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
}

.boj-modal {
    z-index: 1001;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
    border-radius: 10px !important;
    background-color: white;
    padding: 10px;
}

.boj-modal-close {
    background: transparent;
    border: 0;
    font-size: 50px;
    font-weight: bold;
    line-height: 0;
    color: #1f1f1f;
    transition: 0.2s;
    position: absolute;
    top: 30px;
    right: 10px;
}

.boj-modal-close:hover {
    color: #585858;
}

.boj-modal-body {
    height: 100%;
    overflow: auto;
}
