.test-case-elem {
    padding: 10px 0;
}

.test-case-elem h4 {
    margin: 0;
    margin-bottom: 5px;
    padding-left: 15px;
}
.test-case-elem p {
    display: flex;
    font-size: small;
    margin: 0;
}

.test-case-elem p > span:first-child {
    width: 100px;
    text-align: center;
    font-weight: bold;
}

.test-case-elem p > span:nth-child(2) {
    width: 100%;
}

.test-case-success {
    color: blue;
}

.test-case-wrong {
    color: red;
}

@keyframes pulse {
    0%,
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
}

.loading-dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50% !important;
    background-color: black;
    margin: 2px;
    animation: pulse 1s infinite ease-in-out;
}

.loading-dot:nth-child(1) {
    animation-delay: 0s;
}
.loading-dot:nth-child(2) {
    animation-delay: 0.1s;
}
.loading-dot:nth-child(3) {
    animation-delay: 0.2s;
}
